[MASTER]
init-hook='import os, sys; sys.path.append(os.path.abspath("."))'
disable=
  R,
  C,
  missing-docstring,
  W0143, # comparison-with-callable
  W0613, # unused-argument

[FORMAT]
max-line-length=88 # black
