name: build

on:
  push:
    branches: ["*"]
  pull_request:

jobs:
  pre-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]
    steps:
      - uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry

      - name: Add pipx to PATH
        if: github.actor == 'nektos/act'
        run: echo "/root/.local/bin" >> ${GITHUB_PATH}
      
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry

      - name: Check poetry.lock
        run: |
          poetry env use ${{ matrix.python-version }}
          poetry check --lock

      - name: Install dependencies
        run: |
          poetry env use ${{ matrix.python-version }}
          poetry install --no-root --only build --no-ansi --no-interaction
          poetry run pip install -c tests/pip-constraints.txt .

      - name: Lint
        run: poetry run poe lint

      - name: Test Coverage
        run: poetry run poe test-cov

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        if: github.actor != 'nektos/act'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.python-version }}
          parallel: true

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        if: github.actor != 'nektos/act' && github.event_name == 'push' && github.ref_name == 'master' && github.repository_owner == 'monim67'
        with:
          path: ./pages

  build:
    runs-on: ubuntu-latest
    needs: pre-build
    strategy:
      matrix:
        python-version: ["3.13", "3.12", "3.11", "3.10"]
    steps:
      - uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry

      - name: Add pipx to PATH
        if: github.actor == 'nektos/act'
        run: echo "/root/.local/bin" >> ${GITHUB_PATH}

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry

      - name: Install dependencies
        run: |
          poetry env use ${{ matrix.python-version }}
          poetry install --no-root --only build --no-ansi --no-interaction
          poetry run pip install -c tests/pip-constraints.txt .

      - name: Test Coverage
        run: poetry run poe test-cov

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        if: github.actor != 'nektos/act'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.python-version }}
          parallel: true

  coveralls:
    runs-on: ubuntu-latest
    needs: build
    if: github.actor != 'nektos/act'
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true

  deploy-pages:
    runs-on: ubuntu-latest
    needs: build
    if: github.actor != 'nektos/act' && github.event_name == 'push' && github.ref_name == 'master' && github.repository_owner == 'monim67'
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
