name: docs

on:
  push:
    branches: [master, 3.x]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger RTDs build
      uses: dfm/rtds-action@v1
      with:
        webhook_url: ${{ secrets.RTDS_WEBHOOK_URL }}
        webhook_token: ${{ secrets.RTDS_WEBHOOK_TOKEN }}
        commit_ref: ${{ github.ref }}
